<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tambah Produk</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">Arkademy</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Tambah Produk</h1>
      </div>
      <div class="item-form-wrapper">
        <form action="/create" method="post">
          <input name="itemName" type="text" placeholder="Nama Barang">
          <textarea name="itemDesc" type="text" placeholder="Keterangan" maxlength="70"></textarea>
          <input name="itemPrice" type="text" placeholder="Harga">
          <input name="itemAmount" type="text" placeholder="Jumlah">
          <input type="submit" value="Tambahkan">
        </form>
      </div>
      <a href="/index" class="cancel-button">Kembali</a>
    </div>
  </body>
</html>